body {
    background-image: url("../images/hogwarts.jpg");
}

.container {
    font-family: "IM Fell Double Pica SC", serif;
    color: #F1F1F1;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 80px;
    color: #F1F1F1;
    text-align: center;
    margin: 100px;
}

#intro, #message, #currentQuestion, #answerReveal, #answerChoices, #finalMessage, #correctAnswers, #wrongAnswers, #noAnswer, .reset {
    font-size: 30px;
}

#answerChoices {
    margin-bottom: 5px;
}

.thisChoice:hover {
    color: red;
}
